body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.highlight {
    background-color: rgb(64, 116, 60);
    color: black;
    padding: 20px;
}

#section1 {
    border: 2px solid #333;
    padding: 10px;
}

#section2 {
    border: 2px solid rgb(112, 112, 93);
    padding: 10px;
}

a:hover {
    color: red;
}

.imageclass{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#myImage {
    max-width: 50%;
    height: auto; 
}

